.add-place{
    background-image: url('https://i.pinimg.com/564x/0f/19/ec/0f19ecb19dab94e929f49e900b217841.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.192);
    background-blend-mode: darken;
    height: 700px;
    text-align: center;
    padding-top: 40px;
}
.add-place form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 40px auto;

}
.add-place form input,textarea{
    width: 80%;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid orange;
}
.add-place form input[type=submit]{
    background-color: orange;
    border: none;
    color: white;
    font-weight: 500;
}
.add-place form input[type=submit]:hover{
    background-color: rgb(224, 149, 10);
}
@media only screen and (max-width:580px) {
    .add-place form{
        width: 70%;
    }
}