.login-form{
    background-image: url('https://i.pinimg.com/564x/40/86/94/40869457b98a5992df45b43bf2651a94.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.384);
    background-blend-mode: darken;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.google-login{
    border: 3px solid orange;
    border-radius: 10px;
    padding: 50px 30px;
    text-align: center;
    color: orange;
}
.google-login .singin-btn{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    font-weight: bold;
    margin-top: 25px;
    border: 2px solid orange;
    color: orange;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.027);
}
.google-login .singin-btn:hover{
    background-color: orange;
    color: white;
    transition: 0.4s;
}
.google-icon {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    margin-right: 15px;
  }